In this notebook, we will look at a few ways of reading in and slicing data using pandas DataFrames.

In [35]:
import numpy as np
import pandas as pd

In [36]:
# read in data from a csv file
df = pd.read_csv('AustinData/austin_weather.csv')

# Replace values with NaNs
df.replace('-', np.nan, inplace=True)
df.replace('T', np.nan, inplace=True)

# Convert column types to float
for col in df:
    if col != 'Date' and col != 'Events':
        df[[col]] = df[[col]].astype(float)

Here we used the `read_csv` method to read in the tabular data located in the csv file. We can print the first $n$ rows of the file using the `head` method.

In [37]:
df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74.0,60.0,45.0,67.0,49.0,43.0,93.0,75.0,57.0,...,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.46,"Rain , Thunderstorm"
1,2013-12-22,56.0,48.0,39.0,43.0,36.0,28.0,93.0,68.0,43.0,...,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0.00,
2,2013-12-23,58.0,45.0,32.0,31.0,27.0,23.0,76.0,52.0,27.0,...,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0.00,
3,2013-12-24,61.0,46.0,31.0,36.0,28.0,21.0,89.0,56.0,22.0,...,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0.00,
4,2013-12-25,58.0,50.0,41.0,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,

If we'd like to index into the DataFrame and see rows 7-10, we can do that easily like so.

In [38]:
df[7:10]

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
7,2013-12-28,62.0,51.0,40.0,43.0,39.0,33.0,92.0,64.0,36.0,...,30.17,30.04,10.0,10.0,7.0,10.0,2.0,14.0,NaN,
8,2013-12-29,64.0,50.0,36.0,49.0,41.0,28.0,92.0,76.0,60.0,...,30.10,29.99,10.0,10.0,4.0,17.0,5.0,24.0,0.0,
9,2013-12-30,44.0,40.0,35.0,31.0,26.0,21.0,75.0,60.0,45.0,...,30.33,30.26,10.0,10.0,10.0,13.0,5.0,21.0,0.0,

The `[7:10]` is an example of what's called *slicing* in Python. You can index into other Python data structures such as lists and tuples in a similar way. While this is useful, we don't really know anything specific about rows 7-10. In fact, these are just the integer row numbers. 

Instead, we might want to slice into the DataFrame by using specific dates. We can do this by setting the `Date` column of the DataFrame as the index of the DataFrame.

In [39]:
# Convert the column type to the datetime type
df['Date'] = pd.to_datetime(df['Date'])
# Set the index to that column
df.index = df['Date']

In [40]:
df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
Date,,,,,,,,,,,,,,,,,,,,,
2013-12-21,2013-12-21,74.0,60.0,45.0,67.0,49.0,43.0,93.0,75.0,57.0,...,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.46,"Rain , Thunderstorm"
2013-12-22,2013-12-22,56.0,48.0,39.0,43.0,36.0,28.0,93.0,68.0,43.0,...,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0.00,
2013-12-23,2013-12-23,58.0,45.0,32.0,31.0,27.0,23.0,76.0,52.0,27.0,...,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0.00,
2013-12-24,2013-12-24,61.0,46.0,31.0,36.0,28.0,21.0,89.0,56.0,22.0,...,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0.00,
2013-12-25,2013-12-25,58.0,50.0,41.0,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,

Notice that the leftmost integer column has been replaced with the `date` column. Let's delete the redundant `date` column as well.

In [41]:
# Delete the date column, not the index
del df['Date']

Now we can do all sorts of fancy indexing into the DataFrame using dates!

In [42]:
# print a specific date range
df['1/3/2014':'1/09/2014']

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
Date,,,,,,,,,,,,,,,,,,,,
2014-01-03,58.0,43.0,28.0,37.0,22.0,18.0,75.0,49.0,22.0,30.48,30.35,30.14,10.0,10.0,10.0,14.0,4.0,21.0,0.00,
2014-01-04,71.0,57.0,42.0,55.0,48.0,38.0,89.0,68.0,47.0,30.12,29.95,29.81,10.0,10.0,8.0,16.0,7.0,28.0,0.00,
2014-01-05,59.0,47.0,34.0,54.0,32.0,15.0,87.0,59.0,31.0,30.48,30.08,29.79,10.0,10.0,4.0,21.0,10.0,34.0,0.00,
2014-01-06,36.0,29.0,22.0,15.0,8.0,2.0,50.0,38.0,26.0,30.80,30.68,30.50,10.0,10.0,10.0,17.0,7.0,27.0,0.00,
2014-01-07,48.0,35.0,22.0,29.0,11.0,4.0,68.0,43.0,17.0,30.66,30.52,30.36,10.0,10.0,10.0,13.0,5.0,22.0,0.00,
2014-01-08,53.0,47.0,40.0,51.0,45.0,30.0,93.0,75.0,57.0,30.33,30.20,30.12,10.0,2.0,1.0,12.0,1.0,18.0,0.16,Rain
2014-01-09,70.0,62.0,53.0,60.0,55.0,50.0,93.0,80.0,66.0,30.18,30.11,30.00,10.0,4.0,0.0,12.0,3.0,19.0,0.00,Fog

In [43]:
# print all rows corresponding to May 2014
df['5/2014']

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
Date,,,,,,,,,,,,,,,,,,,,
2014-05-01,77.0,65.0,52.0,43.0,33.0,25.0,63.0,39.0,15.0,30.19,30.12,30.01,10.0,10.0,10.0,10.0,3.0,18.0,0.00,
2014-05-02,83.0,70.0,56.0,40.0,35.0,27.0,51.0,33.0,14.0,30.09,30.02,29.94,10.0,10.0,10.0,9.0,3.0,17.0,0.00,
2014-05-03,94.0,76.0,58.0,42.0,35.0,26.0,44.0,27.0,10.0,30.06,30.00,29.95,10.0,10.0,10.0,13.0,4.0,20.0,0.00,
2014-05-04,91.0,76.0,61.0,42.0,37.0,32.0,37.0,27.0,16.0,30.09,30.02,29.94,10.0,10.0,10.0,14.0,7.0,23.0,0.00,
2014-05-05,92.0,76.0,60.0,59.0,56.0,44.0,90.0,61.0,32.0,30.01,29.91,29.79,10.0,10.0,10.0,16.0,8.0,27.0,0.00,
2014-05-06,87.0,76.0,65.0,64.0,62.0,57.0,87.0,66.0,45.0,29.87,29.81,29.72,10.0,10.0,10.0,17.0,9.0,29.0,0.00,
2014-05-07,88.0,79.0,70.0,67.0,64.0,62.0,84.0,65.0,46.0,29.88,29.81,29.75,10.0,10.0,10.0,18.0,9.0,31.0,0.00,
2014-05-08,84.0,79.0,73.0,73.0,70.0,67.0,84.0,75.0,65.0,29.87,29.81,29.74,10.0,6.0,2.0,17.0,8.0,30.0,0.06,Rain
2014-05-09,86.0,76.0,66.0,71.0,68.0,58.0,87.0,69.0,50.0,29.96,29.89,29.77,10.0,5.0,1.0,20.0,5.0,39.0,NaN,"Rain , Thunderstorm"
2014-05-10,91.0,76.0,60.0,66.0,62.0,58.0,97.0,71.0,44.0,29.92,29.84,29.75,10.0,10.0,5.0,16.0,6.0,23.0,0.00,
2014-05-11,93.0,83.0,72.0,68.0,67.0,65.0,84.0,63.0,41.0,29.84,29.77,29.66,10.0,9.0,4.0,18.0,10.0,30.0,0.00,
2014-05-12,82.0,72.0,62.0,76.0,70.0,61.0,94.0,87.0,79.0,29.95,29.84,29.74,10.0,5.0,0.0,18.0,7.0,26.0,2.45,"Fog , Rain , Thunderstorm"
2014-05-13,67.0,61.0,55.0,60.0,54.0,48.0,93.0,73.0,52.0,30.25,30.09,29.92,10.0,8.0,2.0,16.0,8.0,31.0,0.94,"Rain , Thunderstorm"
2014-05-14,76.0,64.0,51.0,51.0,43.0,32.0,93.0,57.0,21.0,30.29,30.24,30.17,10.0,10.0,5.0,17.0,7.0,28.0,0.14,Rain
2014-05-15,84.0,65.0,46.0,47.0,41.0,33.0,93.0,55.0,17.0,30.30,30.22,30.11,10.0,10.0,10.0,10.0,3.0,17.0,0.00,
2014-05-16,86.0,74.0,61.0,48.0,43.0,36.0,60.0,40.0,20.0,30.14,30.06,29.96,10.0,10.0,10.0,15.0,7.0,27.0,0.00,
2014-05-17,86.0,73.0,60.0,59.0,55.0,47.0,84.0,58.0,32.0,30.02,29.97,29.90,10.0,10.0,10.0,17.0,9.0,26.0,0.00,
2014-05-18,85.0,74.0,62.0,61.0,59.0,57.0,93.0,67.0,40.0,30.09,30.03,29.96,10.0,10.0,8.0,16.0,8.0,24.0,0.00,
2014-05-19,86.0,76.0,66.0,64.0,61.0,57.0,87.0,65.0,43.0,30.07,30.00,29.94,10.0,10.0,10.0,18.0,10.0,27.0,0.00,
2014-05-20,89.0,78.0,67.0,65.0,62.0,59.0,84.0,63.0,42.0,30.08,30.01,29.96,10.0,10.0,10.0,14.0,9.0,26.0,0.00,
2014-05-21,89.0,80.0,70.0,66.0,64.0,61.0,84.0,61.0,38.0,30.10,30.02,29.96,10.0,10.0,10.0,16.0,8.0,27.0,0.00,
2014-05-22,87.0,79.0,70.0,68.0,65.0,61.0,90.0,70.0,50.0,30.11,30.05,29.96,10.0,10.0,7.0,15.0,7.0,25.0,NaN,
2014-05-23,84.0,78.0,71.0,71.0,67.0,62.0,84.0,69.0,54.0,30.09,30.03,29.96,10.0,8.0,0.0,14.0,6.0,20.0,0.19,"Fog , Rain"
2014-05-24,86.0,78.0,70.0,70.0,68.0,66.0,97.0,79.0,61.0,30.06,29.99,29.89,10.0,9.0,7.0,15.0,7.0,23.0,NaN,
2014-05-25,87.0,80.0,72.0,67.0,66.0,63.0,84.0,66.0,48.0,30.07,29.98,29.89,10.0,10.0,10.0,15.0,6.0,24.0,NaN,Thunderstorm
2014-05-26,75.0,70.0,64.0,70.0,65.0,61.0,93.0,83.0,73.0,30.09,30.00,29.94,10.0,8.0,1.0,17.0,5.0,29.0,1.56,"Rain , Thunderstorm"
2014-05-27,73.0,68.0,63.0,67.0,64.0,61.0,93.0,86.0,79.0,30.03,29.95,29.86,10.0,6.0,0.0,22.0,3.0,31.0,1.75,"Fog , Rain , Thunderstorm"
2014-05-28,84.0,76.0,68.0,68.0,66.0,62.0,97.0,74.0,51.0,29.94,29.88,29.83,10.0,7.0,2.0,14.0,4.0,22.0,0.00,
2014-05-29,89.0,78.0,66.0,65.0,63.0,61.0,93.0,66.0,38.0,29.89,29.85,29.79,10.0,10.0,10.0,9.0,2.0,15.0,0.00,
2014-05-30,94.0,81.0,68.0,67.0,65.0,60.0,84.0,60.0,36.0,29.86,29.82,29.78,10.0,10.0,10.0,9.0,3.0,17.0,0.00,
2014-05-31,93.0,82.0,70.0,69.0,67.0,65.0,84.0,63.0,41.0,29.89,29.85,29.82,10.0,10.0,10.0,10.0,3.0,20.0,0.00,

In the above examples we print out all of the columns within the DataFrame. We can specify which columns we wish to print by including a list of column labels.

In [44]:
# Only print the following columns: TempAvgF, DewPointAvgF, HumidityAvgPercent
df[['TempAvgF', 'DewPointAvgF', 'HumidityAvgPercent']].head()

            TempAvgF  DewPointAvgF  HumidityAvgPercent
Date
2013-12-21      60.0          49.0                75.0
2013-12-22      48.0          36.0                68.0
2013-12-23      45.0          27.0                52.0
2013-12-24      46.0          28.0                56.0
2013-12-25      50.0          40.0                71.0

Alternatively, we can also resample by a different period of time and compute statistics on these. For example, let's compute the weekly mean of the columns TempAvgF, DewPointAvgF, HumidityAvgPercent by month.

In [46]:
df[['TempAvgF', 'DewPointAvgF', 'HumidityAvgPercent']].resample('M').mean()

             TempAvgF  DewPointAvgF  HumidityAvgPercent
Date
2013-12-31  48.818182     35.363636           64.000000
2014-01-31  50.870968     31.161290           52.774194
2014-02-28  55.178571     40.285714           62.178571
2014-03-31  59.064516     44.129032           62.774194
2014-04-30  69.400000     52.100000           61.833333
2014-05-31  74.806452     57.967742           62.516129
2014-06-30  82.700000     70.423077           70.275862
2014-07-31  84.580645     69.548387           66.161290
2014-08-31  87.354839     68.419355           59.419355
2014-09-30  80.800000     68.366667           70.666667
2014-10-31  74.741935     60.258065           65.548387
2014-11-30  55.966667     42.800000           65.433333
2014-12-31  55.322581     46.516129           75.000000
2015-01-31  48.935484     36.516129           67.032258
2015-02-28  51.607143     39.964286           69.678571
2015-03-31  60.483871     50.483871           74.483871
2015-04-30  71.433333     60.433333           71.633333
2015-05-31  75.419355     67.322581           78.516129
2015-06-30  81.333333     70.866667           75.033333
2015-07-31  85.838710     70.967742           66.419355
2015-08-31  87.645161     67.785714           58.766667
2015-09-30  83.566667     65.966667           61.033333
2015-10-31  74.806452     56.193548           59.677419
2015-11-30  61.766667     51.666667           71.766667
2015-12-31  57.290323     46.806452           71.516129
2016-01-31  52.161290     38.161290           64.032258
2016-02-29  60.172414     41.310345           56.724138
2016-03-31  66.322581     53.032258           66.677419
2016-04-30  70.300000     57.700000           69.366667
2016-05-31  74.419355     64.516129           75.258065
2016-06-30  83.300000     70.766667           70.133333
2016-07-31  88.258065     72.483871           65.483871
2016-08-31  84.645161     72.838710           73.741935
2016-09-30  82.700000     69.933333           70.100000
2016-10-31  75.903226     61.935484           66.129032
2016-11-30  65.900000     55.700000           72.533333
2016-12-31  55.290323     43.516129           69.451613
2017-01-31  56.838710     41.612903           62.677419
2017-02-28  64.678571     49.107143           63.392857
2017-03-31  68.806452     54.677419           65.838710
2017-04-30  72.033333     58.466667           66.700000
2017-05-31  76.580645     61.903226           65.516129
2017-06-30  84.233333     69.433333           65.400000
2017-07-31  89.161290     68.967742           58.225806